{% extends 'layout.html' %}

{% block content %}


<div class="landing-page">
    <header>
        <div class="container">
            <a href="{{url_for('home')}}" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('products')}}">Products</a></li>
                <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
            </ul>
            <a href="{{ url_for('login') }}" class="logout-link">Logout</a>
        </div>
    </header>
</div>

{% include "_messages.html" %}

<div class="text-center h1">Welcome admin</div>

{% include 'sidebar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if brands %}
            <h5 class="text-center mt-4">Add a brand</h5>
            <hr>
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control">
                <input type="submit" value="Add brand" class="btn btn-info mt-3">
            </form>
            {% else %}
            <h5 class="text-center mt-4">Add a category</h5>
            <hr>
            <form action="" method="POST">
                <input type="text" name="category" class="form-control">
                <input type="submit" value="Add category" class="btn btn-info mt-3">
            </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}