{% extends 'layout.html' %}

{% block content %}


<div class="landing-page">
    <header>
        <div class="container">
            <a href="#" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
                <li>Home</li>
                <li>Products</li>
                <li>Contact Us</li>
                <li>About Us</li>
                <a href="{{ url_for('adminpage') }}">Admin Page</a>
            </ul>
        </div>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_messages.html" %}
            {% if brands %}
            <h1 class="text-center mt-5">Add a brand</h1>
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control">
                <input type="submit" value="Add brand" class="btn btn-info mt-3">
            </form>
            {% else %}
            <h1 class="text-center mt-5">Add a category</h1>
            <form action="" method="POST">
                <input type="text" name="category" class="form-control">
                <input type="submit" value="Add category" class="btn btn-info mt-3">
            </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}