{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <h1 class="text-center mt-3">Welcome esteemed shopper!</h1>
    <h5 class="text-center sales mt-3">Cart list. Ready to check out?</h5>
    <div class="container">
        <div class="dashboard-button" style="margin-bottom: 10px; margin-top: 5px;">
        <a href="{{url_for('getCart')}}", class="btn btn-sm btn-outline-secondary" style="margin-left: 0px">Back to cart</a>
        <form class="form-inline my-2 my-lg-0" action="{{url_for('cartresult')}}">
            <input class="dashboard-search-form search-form form-control mr-sn-2" type="search" placeholder="Search Product" aria-label="Search" style="margin-left: 710px;" name="q">
            <button class="dashboard-search-button search-button btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <hr>
    {% include '_messages.html' %}
    <div class="cartpage-container">
        <div class="cartpage-table-container">
            {% if products %}
                <table class="table table-sm table-condensed table-striped table-hover">
                    <thead>
                        <th>Sr</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Total</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <a href="{{ url_for('single_page', id=product['id']) }}">
                                        <img src="{{ url_for('static', filename='images/' + product['image']) }}"
                                            alt="{{ product['name'] }}" width="130" height="130">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('single_page', id=product['id']) }}" style="color: black;">
                                        {{ product['name'] }}
                                    </a>
                                </td>
                                <form action="{{ url_for('updatecart', id=product['id']) }}" method="POST">
                                    <td>
                                        {% set colors = product['colors'].split(',') %}
                                        <select class="custom-select" name="color" id="color">
                                            <option value="{{ product['color'] }}" style="display: none;">
                                                {{ product['color'] }}</option>
                                            {% for color in colors %}
                                                {% set col = color.split(':') %}
                                                <option value="{{ col[0] }}">{{ col[0] }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>Ksh.{{ product['price'] }}</td>
                                    <td>
                                        <input type="number" name="quantity" class="quantity-number" min="1"
                                            max="{{ product['stock'] }}" value="{{ product['quantity'] }}">
                                    </td>
                                    {% if product['discount'] > 0 %}
                                        <td>Ksh.{{ product['discount'] }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% set total = product['quantity']|int * (product['price']|float - product['discount']|float) %}
                                    <td>Ksh.{{ "%0.2f" | format(total) }}</td>
                                    <td><button type="submit" class="btn btn-sm btn-outline-info">Update</button></td>
                                </form>
                                <td>
                                    <a href="{{ url_for('deleteitem', id=product['id']) }}"
                                        class="btn btn-sm btn-outline-danger">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
