{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <h1 class="text-center mt-3">Welcome esteemed shopper!</h1>
    <h5 class="text-center sales mt-3">Cart list. Ready to check out?</h5>
    <hr>
    <div class="container">
        <div class="dashboard-button" style="margin-bottom: 10px; margin-top: 5px;">
        <a href="{{url_for('empty_cart')}}", class="btn btn-sm " style="margin-left: 0px"><img src="https://cdn-icons-png.flaticon.com/128/3742/3742081.png" style="width: 39px; height: 39px;"></a>
        <form class="form-inline my-2 my-lg-0" action="{{url_for('cartresult')}}">
            <input class="dashboard-search-form search-form form-control mr-sn-2" type="search" placeholder="Search Product" aria-label="Search" style="margin-left: 800px;" name="q">
            <button class="dashboard-search-button search-button btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    {% include '_messages.html' %}
    <div class="cartpage-container">
        <div class="cartpage-table-container">
        <table class="table table-sm table-condensed table-striped table-hover">
            <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price </th>
                <th>Quantity</th>
                <th>Discount </th>
                <th>Total </th>
                <th>Update</th>
                <th>Remove</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                <tr> 
                    <td>{{loop.index}}</td>
                    <td> <a href="{{url_for('single_page', id=key)}}">
                        <img src="{{url_for('static',filename='images/'+product.image)}}" alt="{{product.name}}" width="130" height="130">
                    </a>
                    </td>
                    <td><a href="{{url_for('single_page', id=key)}}" style="color: black;">
                       {{ product.name }}
                    </a>
                    </td>
                    <form action="{{url_for('updatecart', id=key)}}" method="POST">
                        <td>
                            {% set colors = product.colors.split(',') %}
                        
                            <select class="custom-select" name="color" id="color">
                                <option value="{{product.color}}" style="display: none;">{{product.color}}</option>
                                {% for colors in colors %}
                                {% set col = colors.split(':') %}
                                <option value="{{col[0]}}">{{col[0]}}</option>
                                {% endfor %}
                            </select>
                        </td> 
                        <td>Ksh.{{product.price}}</td>
                        <td><input type="number" name="quantity" class="quantity-number" min="1" max="{{product.stock}}" value="{{product.quantity}}"></td>
                        {% if product.discount > 0 %}
                        <td>Ksh.{{product.discount}}</td>
                        {% else %}
                        <td></td>
                        {%endif%}
                        {% set total = product.quantity|int * (product.price|float - product.discount|float) %}
                        <td>Ksh.{{ "%0.2f"|format(total) }}</td>
                        <td><button type="submit" class="btn btn-sm btn-outline-info">Update</button></td>
                    </form>
                    <td>
                         <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-outline-danger">Remove</a> 
                       <!-- <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{id}}">
                            Remove
                        </button> -->
                    </td>
                </tr>
                 <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{product.name}} confirm remove</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>
            Are you sure you want to remove {{product.name}} from cart?
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Cancel</button>
          <form action="{{url_for('deleteitem', id=key)}}" method="POST">

              <button type="submit" class="btn btn-sm btn-danger">Remove</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
                {% endfor %}
             
            </tbody>
        </table>
    </div>
    
  
        <div class="cartpage-summary-container">
            <h4>CART SUMMARY</h4>
            <hr>
            <p>Grand Total:
            <h5> Ksh.{{grandtotal}}</b></h5>   
            <p class="text-secondary">Please note taxes are not included yet.</p> 
            <hr>
            <p><b>Services</b></p>   
            <p class="text-secondary">✔ 35 day buyer protection</p> 
            <p class="text-secondary">✔ 1 year warranty on electronics</p> 
            <a href="{{url_for('get_order')}}" class="btn btn-sm btn-success mt-2">CHECK OUT</a>
         
        </div>
  
    
    </div>

 
</div>
{% endblock content %}
