{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <h1 class="text-center mt-3">Welcome esteemed shopper!</h1>
    <h5 class="text-center sales mt-3">Confirm Order.Ready to check out?</h5>
    <hr>
    {% include '_messages.html' %}
    <div class="row">
        <h5 class="text-center"><b>Order Information</b></h5>
       <p> Invoice: {{orders.invoice}}
        <br>
        Status: {{orders.status}}
        <br>
        Customer Name: {{customer.name}}
        <br>
        Customer Email: {{customer.email}}
        <br>
        Customer Contact: {{customer.contact}}
       </p>
    </div>

    <div class="cartpage-container">
        <div class="cartpage-table-container">
        <table class="table table-sm table-condensed table-striped table-hover">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price </th>
                <th>Quantity</th>
                <th>Discount </th>
                <th>Total </th>
            </thead>
            <tbody>
                {% for key, product in orders.orders.items() %}
                <tr> 
                    <td>{{loop.index}}</td>
                  
                    <td>
                       {{ product.name }}
                    
                    </td>
                    <form action="{{url_for('updatecart', id=key)}}" method="POST">
                        <td>
                            {{product.color}}
                        </td> 
                        <td>Ksh.{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                        {% if product.discount > 0 %}
                        <td>Ksh.{{product.discount}}</td>
                        {% else %}
                        <td></td>
                        {%endif%}
                        {% set total = product.quantity|int * (product.price|float - product.discount|float) %}
                        <td>Ksh.{{ "%0.2f"|format(total) }}</td>

                    </form>
              
                </tr>
                 <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{product.name}} confirm remove</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>
            Are you sure you want to remove {{product.name}} from cart?
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Cancel</button>
          <form action="{{url_for('deleteitem', id=key)}}" method="POST">

              <button type="submit" class="btn btn-sm btn-danger">Remove</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
                {% endfor %}
             
            </tbody>
        </table>
    </div>
    
  
        <div class="cartpage-summary-container">
            <h4>GRAND TOTAL</h4>
            <hr>
            <h5> Ksh.{{grandtotal}}</b></h5>               
            <a href="#" class="btn btn-sm btn-success mt-2">BUY NOW (Ksh.{{grandtotal}})</a>
            <hr>
            <p><b>Services</b></p>   
            <p class="text-secondary">✔ 35 day buyer protection</p> 
            <p class="text-secondary">✔ 1 year warranty on electronics</p> 
            <a href="#" class="btn btn-sm btn-danger mt-2">GENERATE PDF</a>
         
        </div>
  
    
    </div>

 
</div>
{% endblock content %}
