<div class="landing-page">
    <header>
        <div class="container header-container">
            <a href="{{url_for('home')}}" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
              <li><a href="{{url_for('home')}}">Home</a></li>
              <li><a href="{{url_for('products')}}">Products</a></li>
              <li><a href="{{url_for('contact')}}">Contact Us</a></li>
              <li><a href="{{url_for('about')}}">About Us</a></li>
              <li class="cart-item nav-item">
                <a class="nav=link disabled" href="{{url_for('getCart')}}" tabindex="-1">
                  <div class="cart-container">
                  <div class="icon-cart mt-4" style="float: left">
                    <div class="cart-line-1" style="background-color: black;"></div>
                    <div class="cart-line-2" style="background-color: black"></div>
                    <div class="cart-line-3" style="background-color: black"></div>
                    <div class="cart-wheel" style="background-color: black"></div>
                  </div>
              <b>    <span style="color: #ff00aa;" class="cart    -items-count">({{session['Shoppingcart']|length}})</span></b>
                </div>
                </a>
            </li>
          </ul>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('customer_logout') }}" class="logout-link">Logout</a>
          {% else %}
          <a href="{{ url_for('customerLogin') }}" class="logout-link">Login</a>
          {% endif %}
              </div>
    </header>
</div>