<div class="landing-page">
    <header>
        <div class="container header-container">
            <a href="{{url_for('home')}}" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
              <li><a href="{{url_for('home')}}">Home</a></li>
              <li><a href="{{url_for('products')}}">Products</a></li>
              <li><a href="{{url_for('contact')}}">Contact Us</a></li>
              <li><a href="{{url_for('about')}}">About Us</a></li>
              <li class="cart-item nav-item">
                <a class="nav=link disabled" href="{{url_for('getCart')}}" tabindex="-1">
                  <div class="cart-container">
                  <div class="icon-cart mt-4" style="float: left">
                    <div class="cart-line-1" style="background-color: #C5BFB6"></div>
                    <div class="cart-line-2" style="background-color: #C5BFB6"></div>
                    <div class="cart-line-3" style="background-color: #C5BFB6"></div>
                    <div class="cart-wheel" style="background-color: #C5BFB6"></div>
                  </div>
                  <span class="cart    -items-count">({{session['Shoppingcart']|length}})</span>
                </div>
                </a>
            </li>
          </ul>
          <a href="{{ url_for('login') }}" class="logout-link">Login</a>
                
              </div>
    </header>
</div>