{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html'%}

<div class="container mt-3">
    <div class="text-center">
    <h1>Meet the <span style="color: #ff00aa">Mochiteam!</span></h1>
    <h5 style="color: #5d5d5d;">-the team-</h5>
    </div>
    <hr>
<section id="team">
<div class="teamcard">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY6JKFDFnC0JTe5Qxh-i4aesRK8ds2u5p0tHn-Y6bymxbKFCu8M5CojgYF7hAgzZBfBEQ&usqp=CAU" alt="image1" >
  <div class="data">
    <h2>Sydney</h2>
    <i>XYZ Designer</i>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
  </div>
</div>
<div class="teamcard">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY6JKFDFnC0JTe5Qxh-i4aesRK8ds2u5p0tHn-Y6bymxbKFCu8M5CojgYF7hAgzZBfBEQ&usqp=CAU" alt="image2">
  <div class="data">
    <h2>Samantha</h2>
    <i>XYZ Tester</i>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
  </div>
</div>
<div class="teamcard">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY6JKFDFnC0JTe5Qxh-i4aesRK8ds2u5p0tHn-Y6bymxbKFCu8M5CojgYF7hAgzZBfBEQ&usqp=CAU" alt="image3">
  <div class="data">
    <h2>Larry</h2>
    <i>XYZ Manager</i>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
  </div>
</div>
</section>
</div>
<br> <br> <br> <br> <br> <br> <br>
<br> <br> <br> <br> <br> <br> <br>
<br> <br> <br> <br>

{% include 'footer.html' %}
{% endblock content %}