{% extends 'layout.html' %}

{% block content %}


<div class="landing-page">
    <header>
        <div class="container">
            <a href="{{url_for('home')}}" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('products')}}">Products</a></li>
                <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
            </ul>
           
            <a href="{{ url_for('login') }}" class="logout-link">Logout</a>           
            </div>
    </header>
</div>


<div class="text-center h1">Welcome admin</div>
<div class="text-center h5 mt-4">Dashboard</div>

{% include 'sidebar.html' %}

<div class="container">
    <hr>
    {% include '_messages.html' %}
<div>
    <a class="dashboard-card" href="{{url_for('adminpage')}}">
        <h5 class="text-center">Manage Products</h5>
        <p class="text-center mt-4">Total Number of items: <br><b class="text-danger">{{total_items}}</b></p>

    </a>
    <a class="dashboard-card" href="{{url_for('brands')}}">
        <h5 class="text-center">Manage Brands</h5>
        <p class="text-center mt-4">Total Number of brands: <br> <b class="text-danger">{{total_brands}}</b></p>
    </a>
    <a class="dashboard-card" href="{{url_for('category')}}">
        <h5 class="text-center">Manage Categories</h5>
        <p class="text-center mt-4">Total Number of categories: <br> <b class="text-danger">{{total_categories}}</b></p>
    </a>
</div>

<div>
    <a class="dashboard-card" href="{{url_for('admin_orders')}}">
        <h5 class="text-center">Manage Orders</h5>
        <p class="text-center mt-4">Total Number of orders: <br><b class="text-danger">{{total_orders}}</b></p>

    </a>
    <a class="dashboard-card" href="{{url_for('admin_reviews')}}">
        <h5 class="text-center">Customer Reviews</h5>
        <p class="text-center mt-4">Total Number of reviews: <br><b class="text-danger">{{total_reviews}}</b></p>

    </a>
    <a class="dashboard-card" href="{{url_for('product_reviews')}}">
        <h5 class="text-center">Product Reviews</h5>
        <p class="text-center mt-4">Total Number of reviews: <br><b class="text-danger">{{total_previews}}</b></p>

    </a>
</div>


  
</div>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".dashboard-card").forEach(function (element) {
                element.addEventListener("mouseover", function () {
                    this.classList.add("selected");
                });

                element.addEventListener("mouseout", function (){
                    this.classList.remove("selected");
                });
            });
        });
</script>

{% endblock content %}