{% extends 'layout.html' %}

{% block content %}


<div class="landing-page">
    <header>
        <div class="container">
            <a href="{{url_for('home')}}" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
            </ul>
            <a href="{{ url_for('login') }}" class="logout-link">Logout</a>
        </div>
    </header>
</div>

{% include '_messages.html' %}

<div class="text-center h1">Welcome admin</div>


<div class="area"></div>
    <nav class="main-menu">
    <ul>
        <li>
            <a href="{{url_for('addbrand')}}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                Add Brand
            </span>
            </a>                               
        </li>

        <li>
            <a href="{{url_for('addcategory')}}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                Add Category
            </span>
            </a>                               
        </li>

        <li>
            <a href="{{url_for('addproduct')}}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                Add Products
            </span>
            </a>                               
        </li>
        <li>
            <a href="{{url_for('brands')}}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                View Brands
            </span>
            </a>                               
        </li>
        <li>
            <a href="{{url_for('category')}}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                View Categories
            </span>
            </a>                               
        </li>
        <li>
            <a href="{{url_for('adminpage')}}">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                View Products
            </span>
            </a>                               
        </li>
    </ul>
              
    </nav>


<div class="container mt-4">
    <table class="table table-sm table-condensed table-striped table-hover">
        <thead>
            <th>Sr</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if brands %}
            <div class="text-center h8 mt-4">View brands dashboard</div>
            <hr>
            {% for brand in brands%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{brand.name}}</td>
                <td><a href="{{url_for('updatebrand', id=brand.id)}}", class="btn btn-sm btn-outline-info">Edit</a></td>
                <td><a href="", class="btn btn-sm btn-outline-danger">Delete</a></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            {% else %}
            <div class="text-center h8 mt-4">View categories dashboard</div>
            <hr>
            {% for category in categories%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{category.name}}</td>
                <td><a href="{{url_for('updatecategory', id=category.id)}}", class="btn btn-sm btn-outline-info">Edit</a></td>
                <td><a href="", class="btn btn-sm btn-outline-danger">Delete</a></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>            
    

{% endblock content %}