{% extends 'layout.html' %}

{% block content %}


<div class="landing-page">
    <header>
        <div class="container">
            <a href="{{url_for('home')}}" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('products')}}">Products</a></li>
                <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
            </ul>
            <a href="{{ url_for('login') }}" class="logout-link">Logout</a>
        </div>
    </header>
</div>


<div class="text-center h1">Welcome admin</div>

{% include 'sidebar.html' %}



<div class="container mt-4">

    {% include '_messages.html' %}
    <table class="table table-sm table-condensed table-striped table-hover">
        <thead>
            <th>Sr</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>

            <div class="container">
                <div class="text-center h5 mt-4">Manage categories</div>
                <div class="dashboard-button">
                <a href="{{url_for('dashboard')}}", class="btn btn-sm btn-outline-secondary" style="margin-left: 0px">Back to dashboard</a>
                <form action="{{url_for('cat_result')}}" class="form-inline my-2 my-lg-0">
                    <input class="dashboard-search-form search-form form-control mr-sn-2" type="search" name="q" placeholder="Search Categories" aria-label="Search">
                    <button class="dashboard-search-button search-button btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <hr>
            {% for category in categories.items%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{category.name}}</td>
                <td><a href="{{url_for('updatecategory', id=category.id)}}", class="btn btn-sm btn-outline-info">Edit</a></td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{category.id}}">
                        Delete
                    </button>
                </td>
            </tr>

              <!-- Modal -->
  <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{category.name}} confirm delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>
            Are you sure you want to delete {{category.name}}
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Cancel</button>
          <form action="{{url_for('deletecategory', id=category.id)}}" method="POST">

              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
            {% endfor %}
        </tbody>
    </table>

  <div class="row">
    <div class="col text-center">
    {% if categories.has_prev %}
    <a href="{{url_for('category', page=categories.prev_num)}}" class="btn btn-sm btn-outline-secondary mt-3">&laquo;</a>
    {% endif %}
    {% for page_num in categories.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if categories.page == page_num %}
    <a href="{{url_for('category', page=page_num)}}" class="btn btn-sm btn-info mt-3">{{page_num}}</a>
    {% else %}
    <a href="{{url_for('category', page=page_num)}}" class="btn btn-sm btn-outline-secondary mt-3">{{page_num}}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor%}
    {% if categories.has_next %}
    <a href="{{url_for('category', page=categories.next_num)}}" class="btn btn-sm btn-outline-secondary mt-3">&raquo;</a>
    {% endif %}
    </div>
</div>

</div>            
    

{% endblock content %}