{% extends 'layout.html' %}

{% block content %}

<div class="landing-page">
    <header>
        <div class="container">
            <a href="{{url_for('home')}}" class="logo">MOCHI <b>MOCHI</b></a>
            <ul class="links">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('products')}}">Products</a></li>
                <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                <li><a href="{{url_for('about')}}">About Us</a></li>
            </ul>
            <a href="{{ url_for('register') }}" class="logout-link">Sign Up</a>
        </div>
    </header>
</div>
 

<div class="container">
    <div class="text-center h1 ">Log In</div>

    
    {% include '_messages.html' %}

    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
    <form method="post" enctype="multipart/form-data">
        <div>
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
        </div>

        <p><input type=submit value="Login" class="btn btn-info mt-3"></p>
        <p>Not a member?</p><a href="{{ url_for('register')}}">SIGN IN</a>
    </form>
</div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}